body {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.messages {
    height: 400px;
    border: #ccc;
    padding: 16px;
    margin: 16px 0 16px;
    background: url("background.png") repeat;
    overflow-y: auto;
}

.message-container {

}

.message-container-own {
    text-align: right;
}

.message {
    background-color: white;
    border-radius: 5px;
    padding: 6px;
    margin: 4px;
    display: inline-block;
}

.message-container-own .message {
    background-color: #edffe3;
}
